.h-1:hover {
  color: black !important;
}

.h-7 {
  border-color: rgb(187, 187, 187) !important;
  color: rgb(187, 187, 187);
  padding: 10px 18px;
  border-radius: 5px;
}

.h-7:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(218, 122, 0);
}


.h-2:hover {
  color: #f28130 !important;
  text-decoration: none !important;
}

.h-3:hover {
  transform: translateY(-30px);
  transition: all 0.5s;
}

.h-4 {
  color: #f28130;
}

.h-4:hover {
  color: rgb(85, 85, 85);
  transition: all 0.5s;
}

.h-5:hover .label {
  color: #f28130;
}

.h-6:hover {
  color: white
}

.overbox {
  width: 100% !important;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.overbox a {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
  opacity: 0;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;

}

.overbox:hover a {
  top: 70%;
  opacity: 1;
  color: #f28130;

}



.overbox:hover img {
  filter: blur(2px);
}


.festext {
  width: 100%;
  padding: 50px 60px 30px 45px;
}

.festext h3 {
  font-size: 34px;
  padding-bottom: 25px;
  padding-top: 15px;
}

.fesimg {
  padding-left: 0px;
}

.fesimg a {
  height: 470px;
  width: 100%;
  display: block;
  background: #f0f0f0;
  overflow: hidden;
  /* position: relative; */
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}

.fesimg a img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.ani {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.explore-gujarat {
  background: url('bg-image.jpg') no-repeat center center/cover;
  color: #fff;
}

.text-orange {
  color: #f28130;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  color: #000;
}

.carousel img {
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.map-tooltip {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
}

.us {
  display: inline-block;
}

.us:after {
  display: block;
  content: '';
  border-bottom: solid 3px #f28130;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.us:after {
  transform-origin: 0% 50%;
}

.us:hover:after {
  transform: scaleX(1);
}



swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  background-color: #F8F8F8;

}

.slidebtns {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.slidebtns div {
  position: static;
}

/* .swiper-button-prev::after {
  content: "";
} */

/* .swiper-button-next::after {
  content: ""
} */

body {
  position: relative;
}

.swiper {
  width: 100%;
  height: 20%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.slidebtns {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.slidebtns div {
  position: static;
}

.swiper-button-prev-1::after {
  content: "";
}

.swiper-button-next-1::after {
  content: ""
}

h3 {
  color: blue;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.whitebg {
  background: #fff;
  margin-right: 100px;
  padding: 50px;
  border-radius: 10px;
}

/* 
.overbox {
  width: 100% !important;
  display: inline-block;
  overflow: hidden;
  position: relative;
} */


swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

swiper-slide img {
  display: block;
  width: 100%;
}

.card-text {
  color: #4c4c4c !important;
}

.label {
  position: absolute;
  top: 10px;
  left: 30px;
  /* background-color: #ff7f0e; */
  color: white;
  padding: 6px 14px;
  /* font-size: 0.85rem; */
  /* font-weight: 600; */
  /* border-radius: 20px; */
}

.footer {
  background: #333;
  color: #b2b2b2;
}

.subscribe {
  width: 100%;
  margin-bottom: 35px;
  position: relative;
}

.subscribe .form-control {
  border: 0;
  border-bottom: 1px solid #545454;
  color: #fff;
  background: 0;
  width: 100%;
  padding: -30px 0;
  hyphens: 40px;
  line-height: 40px;
}


.subbtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 26px;
  height: 30px;
  border: 0;
  background: transparent;

}